@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 100% 97%;
    --foreground: 60 10% 15%;
    --card: 60 56% 91%;
    --card-foreground: 60 10% 15%;
    --popover: 60 100% 97%;
    --popover-foreground: 60 10% 15%;
    --primary: 54 48% 73%;
    --primary-foreground: 60 10% 15%;
    --secondary: 60 56% 93%;
    --secondary-foreground: 60 10% 15%;
    --muted: 60 56% 95%;
    --muted-foreground: 60 10% 45%;
    --accent: 54 58% 83%;
    --accent-foreground: 60 10% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 30% 85%;
    --input: 60 40% 94%;
    --ring: 54 48% 63%;
    --chart-1: 54 48% 73%;
    --chart-2: 60 56% 91%;
    --chart-3: 60 10% 15%;
    --chart-4: 54 58% 83%;
    --chart-5: 60 56% 95%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 48 10% 10%;
    --foreground: 60 20% 94%;
    --card: 48 10% 12%;
    --card-foreground: 60 20% 94%;
    --popover: 48 10% 10%;
    --popover-foreground: 60 20% 94%;
    --primary: 54 38% 63%;
    --primary-foreground: 60 10% 10%;
    --secondary: 48 10% 17%;
    --secondary-foreground: 60 20% 94%;
    --muted: 48 10% 20%;
    --muted-foreground: 60 10% 65%;
    --accent: 54 48% 73%;
    --accent-foreground: 60 10% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 48 10% 25%;
    --input: 48 10% 20%;
    --ring: 54 38% 53%;
    --chart-1: 54 38% 63%;
    --chart-2: 48 10% 12%;
    --chart-3: 60 20% 94%;
    --chart-4: 54 48% 73%;
    --chart-5: 48 10% 20%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
